{% extends "booking/base.html" %}
{% load static %}

{% block body %}
    <div class="container">
    <center>
        <h1 class="heading" style="font-size: max(4vw, 40px);">Add A Property</h1><br/>
        <div class="form-group w-50">
            <form action="" method="POST">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field == form.price_per_night %}
                            {{ field.label_tag }}
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                {{ field }}
                            </div>
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </center>
    </div>
{% endblock %}