{% extends "booking/base.html" %}
{% load static %}

{% block title %}
    {{ listing.title }}
{% endblock %}



{% block body %}

<div class="comments_container">
    <h1 class="heading" style="font-size: max(4vw, 40px);">{{ listing.title }}</h1><br/>
    <div class="back_to_detail">
        <a href="{% url 'booking:detail' listing.id %}"><button class="btn btn-secondary">&laquo Back</button></a>
    </div>
    <div class="comments_window">      
            {% if comments %}
                {% for comment in comments %}
                
                <div class="comments">
                    <div class="comment">
                        {{ comment.comment }}
                    </div>
                    
                    <div class="comment_creator">
                            <div>{{ comment.user}}</div>
                            <div>{{ comment.timestamp| timesince }} ago</div>
                    </div>
                </div>
                
                {% endfor %}
            {% endif %}

        <div class="paginator">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content center pagination-sm">
                    {% if comments.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo First</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}

                    {% for i in comments.paginator.page_range %}
                        {% if comments.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                        {% elif i > comments.number|add:'-3' and i < comments.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if comments.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ comments.paginator.num_pages }}">Last &raquo</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Last &raquo</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>    
            {% if request.user.is_authenticated %}
                <form action="" method="POST">
                    <div class="add_comment">
                        {% csrf_token %}
                        {{ comment_form }}  
                    </div>
                    <div class="comment_submit_section">
                        <button class="btn btn-success" type="submit" name="sub_comment" value="sub_comment">Post Comment</button>
                    </div>
                </form>

            {% else %}
                <div>&raquo <a href="{% url 'booking:login' %}">Log-in </a> to add comments..</div>  
            {% endif %}

    </div>

</div>

{% endblock %}
