{% extends "booking/base.html" %}
{% load static %}

{% block title %}
    {{ listing.title }}
{% endblock %}



{% block body %}

<div class="details_container">
        <div class="details_sections">
            <div class="details_img_container">
                <img src="{{ listing.imageurl }}" id="details_img">
                <div class="map_button_container">
                    <a href="#button" ><button id="map_button">View on Map</button></a>
                </div>
            </div>
            <div class="details_title">{{ listing.title }}</div>
            
            <div class="details_info">
                <div class="left_column">
                    <ul style="padding: 0; list-style-type: none;">
                        <li>Price per night</li>
                        <li>City</li>
                        <li>Property type</li>
                        <li>Available to</li>
                        <li>Max nights total</li>

                    </ul>
                </div>
                <div class="right_column">
                    <ul style="padding: 0; list-style-type: none;">
                        <li>${{ listing.price_per_night |floatformat:2 }}</li>
                        <li>{{ listing.location }}</li>
                        <li>{{ listing.type }}</li>
                        <li>{{ listing.availability_to }}</li>
                        <li>6 nights (TODO)</li>
                    </ul>
                </div>

            </div>
            <hr style="padding:0; margin:0 0 0 0; width: 100%">
            <div class="details_info">
                <div class="left_column">
                    <ul style="padding: 0; list-style-type: none;">
                        <li>Published</li>
                        <li>Landlord</li>
                    </ul>
                </div>
                <div class="right_column">
                    <ul style="padding: 0; list-style-type: none;">
                        <li>{{ listing.date_created.date }}</li>
                        <li>{{ listing.creator }}</li>
                    </ul>
                </div>    
            </div>
        </div>
</div>















{% endblock %}
