{% extends "booking/base.html" %}
{% load static %}


{% block title %}
    Index Page
{% endblock %}


{% block body %}
    <ul class="nav_bottom nav">
        <li class="nav-item">
            <select>
                <option class="nav-link" value="">--All--</option>
                <option class="nav-link" value="house">House</option>
                <option class="nav-link" value="apartment">Apartment</option>
            </select>
        </li>
    </ul>

    <div class="container">
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
    </div>
{% endblock %}
