{% extends "booking/base.html" %}
{% load static %}


{% block title %}
    Index Page
{% endblock %}


{% block body %}
    <div class="container">
        <div class="index_buttons">
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false" aria-controls="collapseFilters">
            <img src="{% static 'booking/filter20.svg' %}" style="padding-right: 0.25rem;">Filters
            </a>
            {% if request.user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'booking:add' %}" role="button">
            <img src="{% static 'booking/file-plus20.svg' %}" style="padding-right: 0.25rem;">Add Listing
            </a>
            <a class="btn btn-secondary" href="#collapseExample" role="button">
                <img src="{% static 'booking/home20-1.5.svg' %}" style="padding-right: 0.25rem;">My Properties
                </a>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
        <div class="collapse.show" id="collapseFilters">
        {% else %}
        <div class="collapse" id="collapseFilters">
        {% endif %}
            <center>
            <div class="card card-body" style="background: transparent; border: 0;">           
                <div class="form-group">
                    
                        <form action="" method="POST" style="min-width: 260px; max-width: 500px;">
                            {% csrf_token %}
                                
                                


                            {% for field in form %}
                                {% if field == form.price_per_night %}
                                    {{ field.label_tag }}
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        {{ field }}
                                    </div>
                                {% else %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            
                            <div class="filter_buttons">
                                <input class="btn btn-success" type="submit" name="filter" value="Submit" style="min-width: 73%;">
                                <input class="btn btn-warning" type="submit" name="reset" value="Reset" style="min-width: 25%;">
                            </div>
                        </form>
                    
                </div>
            </div>
        </center>
        </div>
    </div>


    <div class="container">
        {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
        <br/>
        <br/>
        {% lorem %}
    </div>
{% endblock %}
