{% extends "booking/base.html" %}
{% load static %}


{% block title %}
    My Bookings
{% endblock %}


{% block body %}
        <div class="property_listings">
            {% for listing in bookings %}
            <div class="listing_card">
                <div class="listing_img_cont">
                    {% if not listing.listing.imageurl %}
                    <img class="listing_img" src="{% static 'booking/noimage.jpg' %}">
                    {% else %}
                    <img class="listing_img" src="{{ listing.listing.imageurl}}">
                    {% endif %}
                    <div class="property_title_cont">
                        <a href="{% url 'booking:detail' listing.listing.id %}"><h1 class="card_heading">{{ listing.listing.title }}</h1></a>
                    </div>
                </div>
                <div class="listing_card_content">

                    <div class="info">
                        <ul style="padding: 0; list-style-type: none;">
                            <hr style="padding:0; margin:0 0 0 0.5rem; width: 90%">
                            <li style="padding: 0; margin: 0;"><span class="heading"><span style="color:grey">From: </span>{{ listing.startdate }}</span></li>
                            <li style="padding: 0; margin: 0;"><span class="heading"><span style="color:grey">To: </span>{{ listing.enddate }}</span></li>
                            <hr style="padding:0; margin:0 0 0 0.5rem; width: 90%">
                            <li style="padding: 0; margin: 0;"><span class="heading">{{ listing.listing.location }}</span></li>
                            <div class="listing_last_row">
                                <li><span class="heading">${{ listing.total_price |floatformat:2 }} </span></li>
                                <li>
                                    <a class="btn btn-outline-secondary" id="details_button" href="{% url 'booking:detail' listing.id %}">Details</a>
                                </li>
                                <li>
                                    <form action = "" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit" value="{{ listing.listing.id }}" name="cancel">Cancel</button>
                                    </form>
                                </li>
                            </div>
                        </ul>
                    </div>
                    {% if user.is_authenticated and request.user != listing.creator %}
                    <div class="footing">
                        <div class="card_creator">
                            <span class="footing_text"><i>{{ listing.listing.creator }}</i></span>
                            <img class="icons" id="message" src="{% static 'booking/message-square_grey_24.svg' %}">
                        </div>

                        <span class="footing_text"><i>{{ listing.timestamp.date }}</i></span>
                            <!-- <img class="icons" id="watch" src="{% static 'booking/eye_grey_24.svg' %}"> -->
                            <form action="" method="POST" style="display: flex;">
                                {% csrf_token %}
                                {% if user.is_authenticated and request.user not in listing.listing.watchlist.all %}
                                    <button style="margin:0; padding: 0; border: 0; background-color: transparent; display: flex;" type="submit" value="{{ listing.listing.id }}" name="follow" ><img class="icons" id="heart" src="{% static 'booking/heart_grey_24.svg' %}"></button>
                                {% else %}
                                    <button style="margin:0; padding: 0; border: 0; background-color: transparent; display: flex;" type="submit" value="{{ listing.listing.id }}" name="unfollow" ><img class="icons" style="filter: none" id="heart" src="{% static 'booking/heart_24_red.svg' %}"></button>
                                {% endif %}
                            </form>            
                    </div>
                    {% else %}
                    <div class="footing">
                        <div class="card_creator">
                            <span class="footing_text"><i>{{ listing.creator }}</i></span>
                        </div>
                        <span class="footing_text"><i>{{ listing.date_created.date }}</i></span> 
                    </div>
                    {% endif %}
                </div>

            </div>
            {% endfor %}


            

        </div>


    </div>
{% endblock %}
