body {
    min-height: 100vh;
    min-width: 360px;
    width: 100%;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    /* background: linear-gradient(to top, #a8c0ff, #3f2b96); */
    /* background: linear-gradient(to top, #eaafc8, #654ea3); */
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 1rem;
    outline: 1px dashed red;
    align-items: center;
}

/* @media (max-width: 587px) {
    .nav {
      /* flex-direction: column; */
      justify-content: center;
    }
 */
}

.navi-left {
    display: flex;
    justify-content: flex-start;
}

.navi-right {
    display: flex;
    justify-content: flex-end;
    /* outline: 1px dashed red; */
}

.navi-right-loggedin {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* outline: 1px dashed red; */
}

.heading {
    background-image: linear-gradient(to right, #52248f, #1cb5e0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;  
}

.container {
    color: white;
    /* outline: 1px dashed red; */
}

.card-body {
    background: transparent;
    padding: 0;
    border: 0;
}

.collapse {
    border: 1px solid green;
    margin-right: 0;
}


