@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
    min-height: 100vh;
    width: 100%;
    min-width: 360px;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.nav_top {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 3rem;
    flex-wrap: nowrap;
}

.right_nav {
    display: flex;
}

.heading {
    background-image: linear-gradient(to right, #52248f, #1cb5e0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.container {
    width: 90%;
    color: white;
    /* outline: 1px dashed red; */
}

.anonymous_right_nav {
    color:white;
}

@media (max-width: 413px) {
    .anonymouseimg {
        display:none;
    }
}

.panel_img:hover {
    filter: invert(29%) sepia(34%) saturate(560%) hue-rotate(153deg) brightness(95%) contrast(97%);
    transition: .3s;
}

    /* Logged in user dropdown */
.dropdown-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b98c7;
}

.filter_buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.5rem;
    justify-content: center;
}

#logout_li:hover {
    #logout_img {
        filter: brightness(0) saturate(100%) invert(29%) sepia(53%) saturate(7288%) hue-rotate(348deg) brightness(108%) contrast(94%);
    }
}

.index_buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    padding-bottom: 2rem;
}

.property_listings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.property_title {
    /* background-image: linear-gradient(to right, #5e4df7, #4f99ee); */
    background-image: linear-gradient(to right, #52248f, #1cb5e0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    text-align: center;
    line-height: 1;
    width: 100%;
    font-weight: 400;
}

.listing_card {
    width: 100%;
    min-height: 239px;
    min-width: 360px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    background-color: #e1e5ea;
    transition: .5s;
    /* background-image: linear-gradient(to bottom, #1d2327, #8390b8); */
}

.listing_card:hover {
    box-shadow: 0 16px 32px rgb(0 0 0 / 0.3);
    transition: .5s;
    transform: translateY(-2px);
    
    .listing_img {
        transform: scale(1.07)
    
    }
}

.listing_img_cont {
    width: 25%;
    min-width: 359px;
    padding: 0.5rem;
}

.listing_img {
    width: 100%;
    border-radius: 1rem 1rem 1rem 1rem;
    object-fit: cover;
    transition: .5s;
}

.listing_card_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem
    
}

.property_title_cont {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.footing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* border-radius: 0 0 1rem 1rem; */
    border-radius: 1rem;
    height: 20%;
    /* border: 1px solid black; */

    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
}

@media (max-width: 767px) {
    .listing_card {
        flex-direction: column;
    }
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.listing_last_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    transition: .5s;
}

.icons:hover {
    transition: .3s;
    transform: scale(1.1)
}

#heart:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(99%) saturate(4371%) hue-rotate(331deg) brightness(102%) contrast(97%);
}

#message:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(97%) saturate(977%) hue-rotate(200deg) brightness(93%) contrast(97%);
}

/* #watch:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(35%) saturate(438%) hue-rotate(92deg) brightness(96%) contrast(92%);
} */
